* {
  box-sizing: border-box;
}

body {
  background: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.game-container {
  position: relative;
  width: 352px;
  height: 198px;
  margin: 0 auto;
  outline: 1px solid #fff;

  transform: scale(3) translateY(50%);
}

.game-container canvas {
  image-rendering: pixelated;
  position: absolute;
}

/* CSS styles for selectors */
.levelContainer {
  position: absolute;
  top: 40px;
  left: 250px;
  color: #fff;
}

#levels {
  width: 100px;
  text-align: center;
}

.start-btn {
    transform:translateY(-50%);
    left:20%;
    right:20%;
    top: 75%;
    line-height: 30px;
    font-weight: bold;
    padding: 0 40px;
    background: salmon;
    border: none;
    position: absolute;
}
.start-btn:hover {
    background: lightsalmon;
}
