* {
    box-sizing:border-box;
}

body {
    background: #333;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.game-container {
    position: relative; 
    width: 352px;
    height: 198px;
    margin: 0 auto;
    outline: 1px solid #fff;

    transform: scale(3) translateY(50%);
}

.game-container canvas {
    image-rendering: pixelated;
}